
  * {
      box-sizing: border-box;
  }
  
  html {
      height: 90%;
      width:99%;
  }
  
  body {
      margin: 5px;
      height: 100%;
      background-color: #2a2e35;
      color: white;
  }
  
  header {
      text-align: center;
  }
  
  h1 {
      font-family: 'Comfortaa', sans-serif;
      margin: 0px;
  }
  
  div#change_username, section#input_zone {
      margin:2px;
      border-radius: 10px;
  }
  
  div#change_username {
      height: 3%;
      display: inline-block;
      padding:2px;
  }
  
  section#chatroom {
      border: 3px inset lightblue;
      height: 85%;
      overflow: auto;
  }
  
  section#input_zone {
      height: 7%;
      text-align: center;
      border-radius: 10px;

  }
  
  .vertical-align {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }
  
  input#username {
      font-family: 'Comfortaa', sans-serif;
      border: none;
      border-radius: 10px;
  }
  
  input#message {
      display: inline-block;    
      width: 89%;
      height: 80%;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 2vh;
  }
  
  button#send_message {
      display: inline-block;
      height: 80%;
      width: 10%;
  }
  .alert{
    padding: 10px;
    margin: 12px;
    width:auto;
  }
  
  p.message {
      margin: 0px;
      width: 100%;
      height: 40px;
      font-size: 2vh;
      font-family: 'Comfortaa', sans-serif;
      padding: 1vh;
  }
  
  .message:nth-child(even) {
      background-color: rgb(87, 113, 230);
  }
  
  .message:nth-child(odd) {
      background-color: rgb(87, 113, 230);
  }